Source: nginx-captcha
Section: net
Priority: optional
Maintainer: s3rj1k <evasive.gyron@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: nginx-captcha
Architecture: amd64
Depends: ${shlibs:Depends}, lsb-base
Suggests: nginx
Description: Nginx Captcha
 This package contains simple nginx captcha daemon.
